# MongoDB Connection
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority

# Node Environment
NODE_ENV=development

JWT_SECRET=dev_super_secret_key_12345

# Server Port
PORT=5000

# Python AI Service
PYTHON_SERVICE_URL=http://localhost:8000

# Twilio (placeholder for future)
# TWILIO_ACCOUNT_SID=
# TWILIO_AUTH_TOKEN=
# TWILIO_PHONE_NUMBER=

# Sarvam AI (placeholder for future)
# SARVAM_API_KEY=

# Groq (placeholder for future)
# GROQ_API_KEY=
